<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <h1>All available invoice:</h1>
    <div>
        {% if data_list %}
        <ul>
            {% for data in data_list %}
                <li></b>{{ forloop.counter }}. Date: {{ data.date }} (ID: {{ data.id }})</b></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No data available.</p>
        {% endif %}
    </div>
    <div>
        <button onclick="location.href='{% url 'Logistics:invoice_form' %}'">Go back</button>
    </div>
    <br>
    <div>
        <button onclick="location.href='{% url 'Logistics:home' %}'">Home Page</button>
    </div>
</body>
</html>